/web/bundles/*
/web/media/*
/web/uploads/*
/web/flash.xml
/app/bootstrap*
/app/config/parameters.ini
/app/config/france/parameters.ini
/app/cache/*
/app/logs/*
/app/media/*
/build/*
/vendor/*
.idea/
.buildpath
.project
.settings/*
/nbproject/private/
/migration_script/OldUserMigrations/nbproject/private/