{% extends 'GDSiteBundle::layout.html.twig' %}
{% block title %}{% trans %}registersucsess.htmltitle.text{% endtrans %}{% endblock %}
{% block content %}
<div class="inner">
    <div class="content">
        <div class="rightnavi">
            <h4>{% trans %}register.ajaxsuccess.text{% endtrans %}</h4>
        </div>
        <div class="clr"></div>
    </div>
</div>
<div class="bottom_rounded"></div>
{% endblock %}