{% extends 'GDAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="span8 offset5 border connection">
            <h1 class="resetting calign">{% trans %}Password Reset{% endtrans %}</h1>
            <form class="form-stacked" action="{{ path('gd_admin_user_resetting_confirm', { 'confirmationToken': app.request.get('confirmationToken') }) }}" method="post" {{ form_enctype(form) }}>
                <div class="clearfix">
                    {{ form_errors(form) }}
                </div>
                <div class="clearfix">
                    {{ form_row(form.plainPassword) }}
                </div>
                <div class="actions calign">
                    <input id="normal_font" type="submit" class="btn primary"  value="Change">
                </div>
            </form>
       </div>
    </div>
{% endblock %}